/*Stylesheet for geotweets.*/

#map-wrapper { position:relative; }
#map-target { 
  position:absolute;
  top:40px;
  bottom:0;
  left:0;
  right:0;
}

.mural {
	border: 1px solid #000;
	clear:both;
	margin-bottom:10px;
}
.mural .mural_title {
	font-size:1em;
}
.mural_description {
  position: relative;
  top: 0;
  padding-right: 80px;
  clear:both;
  font-size:0.8em;
}
*/