/*Stylesheet for geotweets.*/

#map-target { 
  position:absolute;
  top:40px;
  bottom:0;
  left:0;
  right:0;
}

/*
body { 
	font-size: 12px; 
	font-family: Helvetica, Arial, sans-serif;
}

.mural {
	margin-bottom:10px;
}
.mural .mural_title {
	font-size:1.2em;
	font-weight: bold;
	
}
.mural_description {
  	font-size:0.8em;
 	font-family: Georgia, serif;
}

.mural_image {
	float: right;
}

.breaker { clear: both; }
.pubdate { display: none; }

*/

