/*Stylesheet for geotweets.*/

#map-target { 
  position:absolute;
  top:40px;
  bottom:0;
  left:0;
  right:0;
}

.infoBubbs strong {
    display:block;
    float:left;
    width:70px;
    padding-left: 5px;
}
.infoBubbs {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    color: #efefef;
    text-shadow: 2px 2px 2px #000;
}
.infoBubbs a {
    color: #efefef;
    text-decoration: none;
}

.distance {
    font-weight: normal;
    font-size: 0.7em;
    color: #aaaaaa;
}

.details_title {
    font-style: italic;
    font-size: 1.3em;
}

.details_wrapper ul {
    margin-left: 0;
    padding-left: 0;
}
.details_wrapper ul li {
    list-style-type: none;
    padding-bottom:7px;
}

.details_wrapper strong {
    display: block;
}

.portrait .details_wrapper img {
    width: 310px;
}
.landscape .details_wrapper img {
    width: 470px;
}

.ui-content { padding: 5px; }
/*
body { 
	font-size: 12px; 
	font-family: Helvetica, Arial, sans-serif;
}

.mural {
	margin-bottom:10px;
}
.mural .mural_title {
	font-size:1.2em;
	font-weight: bold;
	
}
.mural_description {
  	font-size:0.8em;
 	font-family: Georgia, serif;
}

.mural_image {
	float: right;
}

.breaker { clear: both; }
.pubdate { display: none; }

*/

